<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>CreateSafe Beta</title>
    </style>
  </head>
  <body>
    <div class="nav">
      <img id="nav-logo" src="assets/logo.svg">
      <ul class="nav-links">
        <button id="nav-button" class="common-Button">Request Access</button>
        <li><a href="mailto:info@createsafe.net">Contact</a></li>
        <li><a href="https://medium.com/theknowing">The Knowing</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
    <div id="content-wrapper">

      <div class="info-text">
        <h1>CreateSafe</h1>
        <h3>Create <span>leverage</span> from value.</h3>
        <p>Consumption of music is growing at a rapid pace, yet the fragmented groups of industry rights holders lack a proven ability to quantify the value of their copyrights or make actionable decisions about their business.</p>
      </div>


      <div id="section1" class="section">
        <h2>The music industry's value supply chain is broken.</h2>

        <div class="o-list">
          <h4>The Causes:</h4>
          <ul>
            <li>A lack of education or business acumen.</li>
            <li>Rapid changes in technology.</li>
            <li>Archaic, antiquated and siloed business models.</li>
          </ul>
        </div>

        <div class="o-list">
          <h4>The Effect:</h4>
          <ul>
            <li>Slave-like working conditions</li>
            <li>Inability to process trillions of digital micro-transactions</li>
            <li>Undervalued back catalogs</li>
            <li>Inaccurate accounting</li>
            <li>Mismanaged budgeting</li>
            <li>Mentally and physically damaged artists</li>
            <li>High management turnover rates</li>
            <li>Billions of losses in revenue</li>
          </ul>

        </div>
      </div>
      <div id="section2" class="section">

        <h4>The Solution:</h4>

        <h1>A revolutionary technology driven music copyright system for the digital age.</h1>

        <div class="info-icon">
          <div class="app-icon">
            <img id="logo" src="assets/logo.svg">
          </div>
          <h2>CreateSafe</h2>
        </div>

        <p>A management and data standardization software platform designed for music industry rights holders to collect, authenticate, archive, and manage their musical catalogs. Scalable, cloud-based, streamlined, and easy-to-access, our system empowers users to effectively track, collect, and redistribute revenue and earnings. In the digital age, every play, every stream, every sale, and every transaction is tracked. However, there is no industry standard solution for hosting and delivering all of the music files, validated metadata and rights holder documents to digital media service providers. Billions of dollars are being left on the table due to out-of-date, highly fractured and missing music metadata. Rights holders should be able to clearly quantify the value of their catalogs. Social media, streaming services, and sales tracking companies only provide a fragmented look into what an artist or their catalog of IP is worth. With CreateSafe executives, managers, artists, songwriters, producers and engineers will now be able to create safely knowing that their career will have a true value. You make the art, we tell you how much the art should be making for you. </p>

        <div class="o-list">
          <h4>Key Issues the Recorded Music Industry Faces Today:</h4>
          <ul>
            <li>The inability to track changes in ownership and licensing information efficiently;</li>
            <li>The lack of interoperability between music industry stakeholder systems;</li>
            <li>Disparate implementation of standards and protocols across the industry;</li>
            <li>Accurate forecasting, analyzation, monetization and auditing of revenue;</li>
          </ul>
        </div>


        <h4>Value Proposition:</h4>

        <p>Our aim is to standardize how music metadata, multimedia files, rights ownership information, delivery of data to the music supply chain and music licensing are simplified to help the music industry reclaim its true value in orderleverage our intellectual property for measured success. Our business model is designed to address the needs ofenterprise, mid-tier B2B clients, and independent creators.</p>

        <div class="o-list twin">
          <h4>Catalog Management:</h4>
          <ul>
            <li>Increase catalog accuracy.</li>
            <li>Data extrapolation.</li>
            <li>Searchable metadata.</li>
            <li>Reminders and notification.</li>
            <li>Document management.</li>
          </ul>
        </div>

        <div class="o-list twin">
          <h4>Track Revenue & Performance Data:</h4>
          <ul>
            <li>Leverage key data.</li>
            <li>Audit trail.</li>
            <li>Share earnings.</li>
            <li>Ensure payments are being made.</li>
          </ul>
        </div>

        <div class="o-list">
          <h4>Seamless Integrations</h4>
          <ul>
            <li>Keep using the core software your company trusts by having access to standardized interoperable data.</li>
            <li>Advanced integrations with file hosting, eSign, task management, and other business productivity solutions.</li>
          </ul>
        </div>

        <div class="o-list">
          <h4>Services:</h4>
          <ul>
            <li>Accounting, Analytics, Auditing, Business Intelligence, Big Data, Catalog Management, Catalog Cleaning (pointing out & correcting metadata inconsistencies in a catalog), Enterprise Software, Music, SaaS</li>
            <li>CreateSafe will help to manage the entire lifecycle of any rights-holders copyrights, so they can work with greater efficiency, productivity and insight.</li>
            <li>We are creating the infrastructure of music management for the future.</li>
          </ul>
        </div>


      </div>




      <!-- <div class="phone-container">
        <img class="phone-body-img" src="assets/phone_body.svg" >
        <img class="phone-screen-img" src="assets/phone_screen.svg">
      </div> -->
      <br>


      <div class="app-icon">
        <img id="logo" src="assets/logo.svg">
      </div>
      <form id="contact" action="#" method="post">

          <h3 class="form-title">CreateSafe Beta</h3>
            <input id ="email-input" placeholder="Email" type="email" name ="email" tabindex="1" >

            <button class="common-Button" name="submit" type="submit" data-submit="...Sending">Get Started</button>
        </form>

    </div>
  </body>
</html>

























<!-- end -->
