<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>CreateSafe Beta</title>
    </style>
  </head>
  <body>
    <div class="nav">
      <img id="nav-logo" src="assets/logo.svg">
      <ul class="nav-links">
        <button id="nav-button" class="common-Button">Request Access</button>
        <li><a href="mailto:info@createsafe.net">Contact</a></li>
        <li><a href="https://medium.com/theknowing">The Knowing</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
    <div id="content-wrapper">

      <div class="info-text">
        <h1>CreateSafe</h1>
        <h3>Create <span>leverage</span> from value.</h3>
        <p>Consumption of music is growing at a rapid pace, yet the fragmented groups of industry rights holders lack a proven ability to quantify the value of their copyrights or make actionable decisions about their business.</p>
      </div>


      <div class="phone-container">
        <img class="phone-body-img" src="assets/phone_body.svg" >
        <img class="phone-screen-img" src="assets/phone_screen.svg">
      </div>
      <br>


      <div class="app-icon">
        <img id="logo" src="assets/logo.svg">
      </div>
      <form id="contact" action="#" method="post">

          <h3 class="form-title">CreateSafe Beta</h3>
            <input id ="email-input" placeholder="Email" type="email" name ="email" tabindex="1" required autofocus>

            <button class="common-Button" name="submit" type="submit" data-submit="...Sending">Get Started</button>
        </form>

    </div>
  </body>
</html>

























<!-- end -->
