<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <script src="js/script.js"></script>

    <title>List</title>

  </head>
  <body>
    <% for( var i = 0; i < person.length; i++) {%>
       <%= person[i].email %>,
    <% } %>
  </body>
</html>
