<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=0.7, maximum-scale=0.7">

    <link rel="stylesheet" href="/css/styles.css">
    <script src="js/script.js"></script>

    <title>YJ</title>

    <style>
    @font-face {
      font-family: questrial-regular;
      src: url(css/questrial-regular.woff);
      font-weight: 500;
    }
    </style>
  </head>
  <body>
    <div class="fixed-container">
      <img id="bl" class="fixed" src="assets/4.png">
      <img id="br" class="fixed" src="assets/5.png">
      <div id="tl" class="fixed">DINNER AT YAMA Q</div>
      <div id="tr" class="fixed">SATURDAY, JULY 15, 9:30PM</div>
    </div>

    <div id="main-holder">
      <img id="one" class="main" src="assets/1.png">
      <h1 class= "thank-you" >Thank You</h1>
    </div>

  </body>
</html>
