/*color palette
dark grey: #6B7C93
light grey: #F6F9FC
purple: #5533FF
green: #3ECF8E*/



@@font-face {
  font-family: "Corbel";
  src: url('Corbel.ttf');
}
body{
  overflow-x:hidden;
  /*overflow: hidden;*/
  width: 100%;
  position: relative;
}
* {
  text-align: center;
  background-color:  #FFFFFF;
  font-family: Helvetica, sans-serif;
  background: none;

}
#content-wrapper {
  /*position:fixed;*/
  padding: 0px;
}
/*navigation bar ===================================*/
/*logo*/

#main-wrapper{
  /*background-color:pink;*/
  /*outline: 1px solid red;*/
  width:calc(100% - 80px);
  margin-left:auto;margin-right:auto;
  max-width:1000px;
  padding-left:40px;padding-right:40px;
}
.nav {
  width: 100%;
  position: relative;
  display: block;
  height: 150px;
  left:0;right:0;margin:auto;
  top:0;
}
#nav-logo {
  float: left;
  position: absolute;
  left: 0;
  top: calc(50% - 75px/2);
  width: 75px;
  cursor:pointer;
}

/*********/
/*links*/
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background: none;
  position: relative;
  top: 30%;

}
.nav li {
  float: right;
  cursor:pointer;
}
.nav li a {
  display: block;
  color: #6B7C93;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  height:40px;
  line-height:40px;
  padding-right:45px;
}

.nav li:hover a {
  opacity: 0.8;
}

#nav-button {
  float: right;
  margin-right:-10px;
  margin-left:0px;
}


/*text block =============================*/
.info-text{
  /*outline: 1px solid red;*/
  display: block;
  margin-top:100px;
  margin-bottom: 150px;
  max-width: 500px;
  width:100%;
}
.info-text h1 {
  text-align: left;
  color: #5533FF;
}
.info-text h3 {
  text-align: left;
  color: #6B7C93;
}
.info-text h3 span {
  text-align: left;
  color: #3ECF8E;
}
.info-text p {
  text-align: justify;
  color:#6B7C93;
  font-size: .85em;
  line-height: 175%;
  font-weight: lighter;
}
.section {
  position: relative;
  left: 0px;
  width: 80%;
  margin-left:auto;margin-right:auto;
}

#section1{
  width:40%;
  margin-left:10%;
}

#section2{
    padding-bottom:50px;
}

.section h1 {
  text-align: left;
  color: #3ECF8E;
  margin-bottom: 120px;


}
.section h2 {
  text-align: left;
  color: #3ECF8E;

}
h4 {
  display: inline-block;
  margin: 0px;
  text-align:left;
  color: #5533FF;
  width:100%;
}

.section h1 {
  text-align: left;

}
.section p {
  color: #6B7C93;
  font-size: .85em;
  line-height: 175%;
  font-weight: lighter;
  text-align: justify;
  margin-bottom: 75px;
}

.info-icon h2 {
  text-align: center;
  color: #5533FF;

}

.o-list {
  text-align: left;
  color: #6B7C93;
  margin-bottom: 0px;
  padding: 0px;
  width:100%;

}
#bottom-info { width: 100%;}

ul {
  padding-left: 30px;
}
li {
  text-align: left;
  font-size: .85em;
  line-height: 175%;
  font-weight: lighter;
}
.twin {
  text-align: left;
  width: 50%;
  float:left;
  /*background-color:red;*/
}
.right {float: right;}
.top-divider {border-bottom: 1px solid #DFE6EE;margin-bottom: 20px;}

.divider {
  border-bottom: 1px solid #DFE6EE;
  margin-bottom: 75px;
}

.no-divider {
  margin-bottom: 75px;
}







/*app icon =============================*/
.app-icon {
  text-align: center;
  display: inline-block;
  border: none;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  background-color: white;
  box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);

}
#logo {
  position: relative;
  height: 68px;
  width: 68px;
  top: calc(50% - 68px/2);
  background-color: white;
}

.form-title {
  color:  #5533FF;
  font-size:36px;
}

/* send button ======================== */
.common-Button {
  white-space:nowrap;
  display:inline-block;
  height:40px;
  line-height:40px;
  padding:0 14px;
  box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  border: none;
  background:#3ECF8E;
  border-radius:4px;
  font-size:15px;
  font-weight:500;
  letter-spacing:.025em;
  color: white ;
  text-decoration:none;
  margin-bottom: 50px;
  margin-left: 10px;
  /*transition:all .15s ease */
}

.common-Button:hover {
  transform:translateY(-1px);
  box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
  cursor:pointer;
}


/*text input ======================== */
#email-input {
  margin-bottom: 10px;
  text-align: left;
  border-radius: 3px;
  background-color: white;
  border: 1.2px solid #D2D6DC;
  width: 250px;
  height: 35px;
  padding-left: 10px;
  font-size: 16px;
  color: black;

}
#email-input::placeholder {
  color: #D2D6DC;
  font-size: 16px;

}

input:focus{
    outline: none;
    /*border: 1px solid grey;*/
}

/*Phone img ======================== */

.phone-body-img{
  position:relative;
  display: inline;
  width: 100%;
  margin-bottom:35px;
}

.phone-screen-img {
  filter:invert();
  z-index: 1;
  display: inline;
  position:absolute;
  left:0;
  right:0;
  top:-45px;
  bottom:0;
  margin:auto;
  width: 90%;
  height: 66%;

}


.phone-package {
  position:relative;

}




/*design =================================*/


#phone-container{
  z-index:-1;
  position:absolute;
  width:100vw;
  height:3000px;
  /*background-color:orange;*/
  overflow-x:hidden;
}

.streak {
  position: absolute;
  background-color: #F6F9FC;
  width: 4000px;
  height: 840px;
  top: 290px;
  left: -300px;
  z-index: -2;
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);

}

.phonewall-left {
  /*background-color:red;*/
  position: absolute;
  z-index: -1;
  right: 10px;
  top: 350px;
  width: 200px;
  height: 2000px;
  -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Safari */
  transform: rotate(-15deg);

}
.phonewall-right {
  position: absolute;
  z-index: -1;
  right: -210px;
  top: 150px;
  width: 200px;
  height: 2000px;
  -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Safari */
  transform: rotate(-15deg);

}



/*The Footer ==================================*/
.footer {
  width:auto;
  width:100%;
  padding-top: 100px;
  padding-bottom: 100px;
  /*background-color: #F6F9FC;*/
}



#stretchy{
  line-height:64px;padding-bottom:200px
}












/*end*/
