/*color palette
dark grey: #6B7C93
light grey: #F6F9FC
purple: #5533FF
green: #3ECF8E*/



@@font-face {
  font-family: Corbel;
  src: url('Corbel.ttf');
}
* {
  text-align: center;
  background-color:  #FFFFFF;
  font-family: Helvetica, sans-serif;
  background: none;

}
#content-wrapper {
  min-width: 1000px;
  max-width: 1500px;
  background: none;
  padding: 0px;
}
/*navigation bar ===================================*/
/*logo*/
.nav {
  width: 100%;
  min-width: 1000px;
  max-width: 1500px;
  position: relative;
  display: block;
  height: 150px;
  margin-bottom: 50px;

}
#nav-logo {
  float: left;
  position: absolute;
  left: 150px;
  top: calc(50% - 75px/2);
  width: 75px;
}

/*********/
/*links*/
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background: none;
  position: relative;
  right: 100px;
  top: 30%;

}
.nav li {
  float: right;
  background: none;

}
.nav li a {
  display: block;
  color: #6B7C93;
  text-align: center;
  padding: 14px 45px;
  text-decoration: none;
  background: none;
  font-weight: bold;
}

.nav li:hover a {
  opacity: 0.8;
}

#nav-button {
  float: right;
}


/*text block =============================*/
.info-text{
  /*outline: 1px solid red;*/
  display: block;
  margin-bottom: 50px;
  margin-left: 150px;
  text-align: left;
  width: 500px;
  z-index: 1;
}
.info-text h1 {
  text-align: left;
  color: #5533FF;
  /*letter-spacing: 1.5px;*/
}

.info-text h3 {
  text-align: left;
  color: #6B7C93;
  /*letter-spacing: 1.5px;*/
}
.info-text h3 span {
  text-align: left;
  color: #3ECF8E;
  /*letter-spacing: 1.5px;*/
}
.info-text p {
  text-align: justify;
  color:#6B7C93;
  font-size: .85em;
  line-height: 175%;
  font-weight: lighter;
  /*letter-spacing: 1.5px;*/
}
.section {
  position: relative;
  left: 200px;
  width: 700px;
  text-align: left;
  background: none;
}

.section h1 {
  text-align: left;
  color: #3ECF8E;
  margin-bottom: 120px;


}
.section h2 {
  text-align: left;
  color: #3ECF8E;

}
h4 {
  display: inline-block;
  margin: 0px;
  text-align: left;
  color: #5533FF;

}

.section h1 {
  text-align: left;

}
.section p {
  color: #6B7C93;
  font-size: .85em;
  line-height: 175%;
  font-weight: lighter;
  text-align: justify;
  margin-bottom: 75px;
}

.info-icon h2 {
  text-align: center;
  color: #5533FF;

}

.o-list {
  text-align: left;
  color: #6B7C93;
  margin-bottom: 0px;
  padding: 0px;
  width:400px;

}
#bottom-info { width: 100%;}

ul {
  /*outline: 1px solid red;*/
  padding-left: 20px;
}
li {
  text-align: left;
  font-size: .85em;
  line-height: 175%;
  font-weight: lighter;
}
.twin {
  text-align: left;
  width: 35%;
  display: inline-block;
  vertical-align: top;
}
.right {float: right;}
.top-divider {border-bottom: 1px solid #DFE6EE;margin-bottom: 20px;}

.divider {
  border-bottom: 1px solid #DFE6EE;
  margin-bottom: 75px;
}









/*app icon =============================*/
.app-icon {
  text-align: center;
  display: inline-block;
  border: none;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  background-color: white;
  box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);

}
#logo {
  position: relative;
  height: 68px;
  width: 68px;
  top: calc(50% - 68px/2);
  background-color: white;
}

.form-title {
  color:  #5533FF;
}

/* send button ======================== */
.common-Button {
  white-space:nowrap;
  display:inline-block;
  height:40px;
  line-height:40px;
  padding:0 14px;
  box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  border: none;
  background:#3ECF8E;
  border-radius:4px;
  font-size:15px;
  font-weight:500;
  letter-spacing:.025em;
  color: white ;
  text-decoration:none;
  margin-bottom: 50px;
  margin-left: 10px;
  /*transition:all .15s ease */
}

.common-Button:hover {
  transform:translateY(-1px);
  box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08)
}


/*text input ======================== */
#email-input {
  margin-bottom: 10px;
  text-align: left;
  border-radius: 3px;
  background-color: white;
  border: 1.2px solid #D2D6DC;
  width: 200px;
  height: 35px;
  padding-left: 10px;
  font-size: 16px;
  color: black;

}
#email-input::placeholder {
  color: #D2D6DC;
  font-size: 16px;

}

input:focus{
    outline: none;
    /*border: 1px solid grey;*/
}

/*Phone img ======================== */

.phone-body-img{
  position:relative;
  display: inline;
  width: 100%;
}

.phone-screen-img {
  /*position: absolute;
  display: inline;
  bottom: calc(50% - 354px/2);
  left: 50%;*/
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  /*border: 2px dotted red;*/
}







/*design =================================*/
.streak {
  position: absolute;
  background-color: #F6F9FC;
  width: 4000px;
  height: 840px;
  top: 215px;
  left: -100px;
  z-index: -1;
  -ms-transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
  transform: rotate(-9deg);

}
.phonewall-left {
  position: absolute;
  z-index: 0px;
  right: 10px;
  top: 325px;
  width: 200px;
  height: 2000px;
  -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Safari */
  transform: rotate(-15deg);

}
.phonewall-right {
  position: absolute;
  z-index: 0px;
  right: -210px;
  top: 200px;
  width: 200px;
  height: 2000px;
  -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Safari */
  transform: rotate(-15deg);

}



/*The Footer ==================================*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F6F9FC;
}
















/*end*/
